<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Stocks</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>Fresh Stocks</h1>
      </nav>
    </header>
    <div class="container">
      <!-- <div class="highlights">Fresh Stocks</div> -->
      <div id="stocks-list" class="stocks-list">
      </div>
      <!-- <button onclick="loadData()" id="btn">Get Data</button> -->
    </div>
    <br>
    <footer class="flex-all-center">
      <p>Copyright &copy; MyOnlineStocks.com</p>
    </footer>

    <script src="main.js"></script>
  </body>
</html>
