
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --main-bg-color: #2874f0;
}

* {
  padding: 0;
  margin: 0;
}

body {
    background-color: #666666;
}

.container {
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buton{
    padding: 15px 20px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer; 
    text-align: center;
    width: 250px;
    padding: 40px;
}

.buton:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.05em);
    box-shadow: 0 5px 20px 0 #2874f0 inset, 0 5px 20px 0 #2874f0,
    0 5px 20px 0 #2874f0 inset, 0 5px 20px 0 #2874f0;
}


/* 
body {
    margin: 0;
    padding: 0;
    background-color: #000;

}

.container {
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buton {
    position: relative;
    text-align: center;
    width: 250px;
    padding: 40px;
    color: #15f4ee;
    font-weight: 400;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

.buton:hover {
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;

    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
} */